# Arquivos gerados automaticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Diretórios e arquivos relacionados a cache e dados temporários
.mypy_cache/
.pytest_cache/
*.sqlite3

# Diretório do ambiente virtual Python (se você usar virtualenv ou venv)
venv/

# Arquivos de configuração do Visual Studio Code
.vscode/

# Arquivos de índice de sistema Windows
desktop.ini

# Outros arquivos gerados ou específicos para o projeto
index/
Site/

# Outros arquivos sensíveis ou específicos para o projeto
db.sqlite3

# Arquivos que são específicos do seu sistema ou usuário
.DS_Store
Thumbs.db
